body{
  font-family: 'calibri';
  font-size: 16px;
}
.grey-text{
  color: #666!important;
}
.btn-grey, .btn-grey:hover{
  background-color: #ccc;
  color: #fff;
  font-weight: semi-bold;
}

.btn-dark-grey, .btn-dark-grey:hover{
  background-color: #4d4d4d;
  color: #fff;
}

.marginTop10{
  margin-top: 10px;
}

.marginLeft10{
  margin-left: 10px;
}

.noHover:hover{
  text-decoration: none;
}
.header {
  border-bottom: 0;
  background-color: #333;
  margin-bottom: 0;
}

.navbar {
  background-color: #333;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.image{
  position: relative;
  width: 100%;
  height: 100%;
}
.image img{
  display: block;
  margin: auto;
  width: 100%;
  // height: 200px;
}
.overlay_selected {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0.8;
  background-color: #666;
  text-align: center;
}
.overlay_selected i{
  font-size: 2.5em;
  color: #39ff14;
  top: 40%;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.app-title{
  width: 100%!important;
  text-align: center;
  color: #fff!important;
  font-size: 30px;
}
.images-container{
  margin-top: 50px;
  margin-bottom: 30px;
}

.box-header{
  height:40px;
  text-align: center;
  background-color: #58330a;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
}
.box-details-container{
  margin-bottom:20px;
}
.size_selection_main_container{
  text-align: center;
}
.size_list_container{
  height: 70px;
  width: 300px;
  margin: auto;
}
.size_list_container ul{
  list-style-type: none;
  padding-top: 20px;
}

.size_list_container ul li{
  width: 50px;
  display: inline-block;
  float: left;
  border: 1px solid #000;
}

.left-nav-container{
    width: 300px;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 50px;
    height: 100%;
    color: #fff;
    border-top: 1px solid #ddd;
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-duration:0.5s;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-duration:0.2s;
}

.left-menu-bar{
  margin:10px;
  font-size: 2em;
  color: #000;
  float: left;
  z-index: 100;
  cursor: pointer;
}

/*--------------------Checkout CSS------------*/
.feedback_text{
  border-bottom: 1px solid #ccc;
}
.checkout_product{
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom:10px;
}
.review_product{
  margin-bottom: 15px;
}
.strike_through_price{
  text-decoration: line-through;
}
.checkout-product-brand{
  font-weight: lighter;
  margin: 0;
  font-size: 17px;
}
.checkout-product-desc{
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.checkout-comment-box{
  width: 50%;
}

.checkout-original-price{
  font-size: 14px;
  color: #999;
}

.checkout-feedback-title{
  color: #333!important;
  font-size: 22px;
}
/*-------------End---------------*/
/*For mobile layout*/
@media (max-width: 768px) {
  .images-container .col-xs-12{
    margin-bottom: 20px;
  }

  .image{
    width: 70%;
    margin: auto;
  }

  .left-menu-bar{
    font-size: 1.5em;
    margin: 5px;
  }
  // .app-title{
  //   width: 73%!important;
  // }
  .btn-responsive {
    padding:2px 4px;
    font-size:72%;
    line-height: 1.2;
  }

  .btn-responsive-medium{
    padding: 5px 3px;
    font-size: 82%;
    line-height: 1.5;
  }
  .btn-mobile-submit{
    width: 100%;
  }

  .checkout-comment-box{
    width: 100%;
  }


}
