<div class="container">
	<div class="feedback_text">
		<h3 class="grey-text">Order Summary</h3>
	</div>
	<div class="order_container">
		<h4 class="grey-text">KEEPING</h4>
		<div class="review_product" ng-repeat="item in box.box.box_products_attributes" ng-if="item.accepted">
			<checkout-review-list product="item"></checkout-review-list>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<h4>Total:</h4>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<h4><i class="fa fa-inr"></i> {{box.box.totalPrice}}</h4>
		</div>
		<br>
		<hr>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">Select payment option:</div>
			<div class="col-md-8 col-sm-8 col-xs-6">
				  <p>
				    <input type="radio" ng-model="box.box.payment_method" value="Cash on pickup">
				    Cash on pickup
				  </p>     
				  <p>
				    <input type="radio" ng-model="box.box.payment_method" value="Credit Card/Debit Card/Net Banking">
					Credit Card/Debit Card/Net Banking
				  </p>
			</div>	
		</div>
		<br>
		<a ui-sref="checkout.thankyou"><button type="button" class="btn btn-success btn-responsive pull-right">Proceed</button></a>
	</div>
</div>