<div class="return_details slideInDown">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<h6>Size</h6>
			<div class="btn-group">
		        <label class="btn btn-default btn-responsive" ng-model="item.size" uib-btn-radio="'loose'">Loose</label>
		        <label class="btn btn-default btn-responsive" ng-model="item.size" uib-btn-radio="'tight'">Tight</label>
		    </div>
			<h6>Price</h6>
			<div class="btn-group">
		        <label class="btn btn-default btn-responsive" ng-model="item.price" uib-btn-radio="'low'">Low</label>
		        <label class="btn btn-default btn-responsive" ng-model="item.price" uib-btn-radio="'high'">High</label>
		    </div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<h6>Color</h6>
			<div class="btn-group">
		        <label class="btn btn-default btn-responsive" ng-model="item.color" uib-btn-radio="'bright'">Bright</label>
		        <label class="btn btn-default btn-responsive" ng-model="item.color" uib-btn-radio="'dull'">Dull</label>
		    </div>
			<h6>Like it but</h6>
			<div class="btn-group">
		        <label class="btn btn-default btn-responsive" ng-model="item.style" uib-btn-radio="'have similar'">Have similar</label>
		        <label class="btn btn-default btn-responsive" ng-model="item.style" uib-btn-radio="'dont need it'">Don't need it</label>
		    </div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<h6>Comments?</h6>
			<textarea class="form-control" rows="3" cols="10"></textarea>
		</div>
	</div>
</div>